@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@using PagedList
@using PagedList.Mvc
@model  IPagedList<Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<html>
<head>

    <style>
        .table-container {
            margin-top: 0px;
        }
    </style>

    <link rel="stylesheet" href="~/Web/Csslerim/tablo.css" />
</head>
<body>
    <br />
    <div class="table-container">
        <table class="table table-bordered">
            <tr>
                <th>Kategori Adı</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.KategoriAd</td>
                    <td><a href="/Kategori/KategoriDelete/@item.İD/" class="btn btn-secondary">Sil</a></td>
                    <td><a href="/Kategori/kategoriGetir/@item.İD/" class="btn btn-success">Güncelle</a></td>
                </tr>
            }

        </table>

        @Html.PagedListPager((IPagedList) Model,sayfa=>Url.Action("Index",new { sayfa}))


    </div>
    <a href="/Kategori/KategoriAdd/" class="btn btn-warning">Yeni Kategori</a>
</body>
</html>