@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<Departman>

@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="~/Web/Css/style.css" />
<br />

<table class="table table-bordered">
    <tr class="headerTable">
        <th>İD</th>
        <th>Departman Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="alterTable">
            <td>@item.Departmanİd</td>
            <td>@item.DepartmanAd</td>
            <td><a href="/Departman/DepartmanSil/@item.Departmanİd" class="btn btn-danger">Sil</a></td>
            <td><a href="/Departman/DepartmanGüncelle/@item.Departmanİd" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Departman/DepartmanDetay/@item.Departmanİd" class="btn btn-secondary">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Departman/DepartmanEkle/" class="btn btn-primary">Yeni Departman Ekle</a>
